@import "tailwindcss";


#root {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;

}
/* Hide scrollbar but keep functionality */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;  /* Chrome, Safari, Opera */
}
